:host {
  --so-accent: #0074cc;
}

.table-list-container {
  padding: 16px;
  background-color: var(--spm-bg-primary);
  border-radius: var(--spm-radius);
}

.question-summary {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid var(--spm-border-contrast);
}
